services:
  - type: web
    name: memory-cards
    env: static
    buildCommand: pnpm build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html